[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohappyeyeballs = "==2.4.3"
aiohttp = "==3.10.9"
aiosignal = "==1.3.1"
attrs = "==24.2.0"
certifi = "==2024.8.30"
cffi = "==1.17.1"
charset-normalizer = "==3.3.2"
cryptography = "==43.0.1"
distlib = "==0.3.8"
filelock = "==3.16.1"
frozenlist = "==1.4.1"
idna = "==3.10"
multidict = "==6.1.0"
packaging = "==24.1"
pipenv = "==2024.1.0"
platformdirs = "==4.3.6"
py3rijndael = "==0.3.3"
pycparser = "==2.22"
requests = "==2.32.3"
samsungtvws = {ref = "9647fdb8556938b3369ac65f38f15108391c4267", git = "https://github.com/NickWaterton/samsung-tv-ws-api.git"}
urllib3 = "==2.2.3"
virtualenv = "==20.26.6"
wakeonlan = "==3.1.0"
websocket-client = "==1.8.0"
websockets = "==13.1"
yarl = "==1.13.1"

[dev-packages]

[requires]
python_version = "3.11"
